@{
    ViewData["Title"] = "Privacy Policy";
}

@section Navigation {
    @{
        await Html.RenderPartialAsync("Navigation");
    }
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
