@model Contacts
@{
    ViewData["Title"] = Localizer["Header"];
}

@section Navigation {
    @{
        await Html.RenderPartialAsync("Navigation");
    }
}

<h1>@Localizer["Header"]</h1>

@await Html.PartialAsync("Contacts", Model)

