@model Quest
@{
    ViewData["Title"] = "Create quest";
}

@section Navigation {
    @{
        await Html.RenderPartialAsync("Navigation");
    }
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="Create">
    <label>Name</label><br />
    <input type="text" asp-for="Name"/><br />
    <span asp-validation-for="Name"></span><br />

    <label>Photo (url)</label><br />
    <input type="text" asp-for="Photo"/><br />
    <span asp-validation-for="Photo"></span><br />

    <label>Minimum palyers</label><br />
    <input type="number" asp-for="MinPalyers"/><br />
    <span asp-validation-for="MinPalyers"></span><br />

    <label>Maximum players</label><br />
    <input type="number" asp-for="MaxPalyers"/><br />
    <span asp-validation-for="MaxPalyers"></span><br />

    <label>Time</label><br />
    <input type="text" asp-for="Time"/><br />
    <span asp-validation-for="Time"></span><br />

    <label>Rating</label><br />
    <input type="number" asp-for="Rating"/><br />
    <span asp-validation-for="Rating"></span><br />

    <input type="submit" value="Save" /><br /><br />
</form>

<div>
    @if(ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }
</div>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

